﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Juan David Pérez Alzate<br />
    El Carmen de Viboral (Ant)<br />
    <abbr title="Phone">Cel:</abbr>
    312.889.2516
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:juancho4286@hotmail.com">juancho4286@hotmail.com</a>
</address>